<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id, 'Produces Item' %>
    <%= f.select(:item_id, @all_item_ids) %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.select(:level, Recipe::VALID_LEVELS) %>
  </div>

  <div class="field">
    <%= f.label :artisan %>
    <%= f.select(:artisan, Recipe::VALID_ARTISANS) %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
