<div class="recipe-description">

  <table class="recipe-details">
    <tr>
      <th>Artisan</th>
      <td><%= recipe.level %> <%= recipe.artisan %></td>
    </tr>
    <tr>
      <th>Crafting Fee</th>
      <td><%= recipe.cost %></td>
    </tr>
    <tr>
      <th>Ingredients Cost</th>
      <td><%= recipe.ingredients_cost %></td>
    </tr>
    <tr>
      <th>Recipe Actions</th>
      <td>
        <% if logged_in? %>
          <%= link_to 'Edit', edit_recipe_path(recipe) %> |
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="recipe-action"><%= link_to '(+add ingredient)', new_recipe_ingredient_path(recipe) if logged_in? %></div>
  <%= render :partial => '/recipes/ingredients_table', :locals => {:recipe => recipe} %>
</div>