<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Level</th>
      <th>Artisan</th>
      <th>Cost</th>
      <th>Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to Item.find(recipe.item_id).name, recipe %></td>
        <td><%= recipe.level %></td>
        <td><%= recipe.artisan %></td>
        <td><%= recipe.cost %></td>
        <td><%= recipe.comments %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
