<div class="center jumbotron">
  <h1><%= @item.name %></h1>
  <%= @item.thumbnail_url.nil? ? '' : image_tag(@item.thumbnail_url, size: @item.thumbnail_size) %>
  <p>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) if logged_in? %> | <%= link_to 'Back', recipes_path %>
  </p>
</div>

<%= render 'table', :ingredients => @ingredients, :recipe => @recipe, :ingredients_cost => @ingredients_cost %>
